// font sizing

$primary-title-fs: 56px;

$primary-title-fs_mobile: 42px;

$title-fs: 48px;

$title-fs_mobile: 36px;

$standart-fs: 16px;

$standart-fs_mobile: 14px;

$small-title-fs: 24px;

$small-title-fs_mobile: 21px;

// font weight
$title-fw: 700;

$standart-fw: 400;

// color
$primary-color: #086cf9;

$primary-color-dark: #0d61d8;

$primary-color-light: #ecf4ff;

$secondary-color: #222222;

$secondary-color-light: #555555;

$secondary-color-opacity: #222222a9;

$contrast-color: #ffffff;

// font family

$primary-ff: "DM Sans", sans-serif;
